<!doctype html>
<html lang="en">
  <head>
    <title>Casa Hotel Colorlib Website Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Mukta+Mahee:200,300,400|Playfair+Display:400,700" rel="stylesheet">

    <link rel="stylesheet" href="http://localhost/hotel/assets/css/bootstrap.css">
    <link rel="stylesheet" href="http://localhost/hotel/assets/css/animate.css">
    <link rel="stylesheet" href="http://localhost/hotel/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="http://localhost/hotel/assets/css/aos.css">
    <link rel="stylesheet" href="http://localhost/hotel/assets/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="http://localhost/hotel/assets/css/jquery.timepicker.css">
    <link rel="stylesheet" href="http://localhost/hotel/assets/css/magnific-popup.css">
    
    <link rel="stylesheet" href="http://localhost/hotel/assets/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="http://localhost/hotel/assets/fonts/fontawesome/css/font-awesome.min.css">

    <!-- Theme Style -->
    <link rel="stylesheet" href="http://localhost/hotel/assets/css/style2.css">
    	<title>{% block title %}{% endblock %}</title>

  </head>
  <body>
    
    <header class="site-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
              <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <a href="index.html"><em>Casahotel</em></a>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">A propos <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="rooms.php?page=rooms.twig">Chambres</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="">Restaurants</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="">Services</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="contact.php">Contact</a>
                    </li>
                  </ul>
                </div>
              </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- END head -->

    
    <!-- END section -->

    {% block body %}{% endblock %}

    
    <script src="http://localhost/hotel/assets/js/jquery-3.3.1.min.js"></script>
    <script src="http://localhost/hotel/assets/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="http://localhost/hotel/assets/js/popper.min.js"></script>
    <script src="http://localhost/hotel/assets/js/bootstrap.min.js"></script>
    <script src="http://localhost/hotel/assets/js/owl.carousel.min.js"></script>
    <script src="http://localhost/hotel/assets/js/jquery.stellar.min.js"></script>
    <script src="http://localhost/hotel/assets/js/jquery.magnific-popup.min.js"></script>
    
    
    <script src="http://localhost/hotel/assets/js/aos.js"></script>
    
    <script src="http://localhost/hotel/assets/js/bootstrap-datepicker.js"></script> 
    <script src="http://localhost/hotel/assets/js/jquery.timepicker.min.js"></script> 

    

    <script src="http://localhost/hotel/assets/js/main.js"></script>
  </body>
</html>