{% extends 'base.twig' %}

{% import 'form.twig' as form %}

{% block title %}Modifier Cette Chambre{% endblock %}

{% block body %}

<br \>
    <header class="page-header"><meta http-equiv="Content-Type" content="text/html; charset=euc-kr">
        <h1>Modifier Cette Chambre</h1>
    </header>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
        <br \ ><br \>
            <form id="form1" name="form1" method="post" action="{{ actionAdd }}">
                <div class="row">
                    <div class="col-md-12">
					{% for room in rooms %}
                        
                        {{ form.inputRequired('f_nom', 'Nom de Chambre', room.nom) }}

                        {{ form.inputRequired('f_image', 'Image de Chambre', room.image) }}

                        <div class="form-group">
                            <label for="f_type">Type de Chambre</label>
                            <select name="f_type" id="f_type" class="form-control">
                                {% for type in types %}
                                {% if type.id == room.type %}
                                    <option value="{{ type.id }}" selected>{{ type.type }}</option>
                                    {% else %}
                                        <option value="{{ type.id }}">{{ type.type }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                {{ form.textareaRequired('f_description', 'Decription', room.description) }}
                            <div>
                        </div>

                        {% endfor %}

                    </div>
                </div>
                <div align="right">
                    <button type="submit" class="btn btn-success">Valider</button>
                </div>
            </form>
        </div>
        <div class="col-md-1"></div>
    </div>
    <br \><br \>
    <script src="https://cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace( 'f_description' );
    </script>
{% endblock %}