{% extends 'base.twig' %}

{% import 'form.twig' as form %}

{% block title %}Modifier Ce Type{% endblock %}

{% block body %}

<br \>
    <header class="page-header"><meta http-equiv="Content-Type" content="text/html; charset=euc-kr">
        <h1>Modifier Ce Type</h1>
    </header>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
        <br \ ><br \>
            <form id="form1" name="form1" method="post" action="{{ actionEdit }}">
                <div class="row">
                	{% for typeRoom in type %}

                    <div class="col-md-12">
                        
                        {{ form.inputRequired('f_type', 'Type de Chambre', typeRoom.type) }}

                    </div>
                    
                    {% endfor %}
                </div>
                <div align="right">
                    <button type="submit" class="btn btn-success">Valider</button>
                </div>
            </form>
        </div>
        <div class="col-md-1"></div>
    </div>
    <br \><br \>
{% endblock %}