
{% extends 'base.twig' %}

{% block title %}Types de Chambre{% endblock %}

{% block body %}

	<div class="row">
	    <section class="col-md-12 table-responsive">
	    	<header class="page-header">
		        <h1>Types de Chambre </h1>
		    </header>
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<br \><br \>
					<table class="table table-bordered table-striped table-condensed">
						<thead>
						<tr>
							<th>N°</th>
							<th>type</th>
							<th></th>
						</tr>
						</thead>
						<tbody>
						{% for type in types %}
							<tr>
								<td class="text-black">{{ type.id }}</td>
								<td class="text-black">{{ type.type }}</td>
								<td class="text-black"><a class="btn btn-success" href="rooms.php?page=editType.twig&id={{ type.id }}">Editer</a></td>
							</tr> 
							<div class="modal fade" id="confirm-delete{{ type.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											Confirmation de suppression
										</div>
										<div class="modal-body">
											Êtes-vous sûr de vouloir supprimer ce type de chambre ?
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
											<a class="btn btn-danger btn-ok" href="deleteType.php?id={{ type.id }}">Supprimer</a>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="col-md-1"></div>
			</div>
	    </section>
	</div>

	
{% endblock %}